/* Write your CSS code here */
.content-separate {
  display: flex;
  justify-content: space-between;
  color: white;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.logo {
  height: 30px;
  width: 30px;
}
